$gutter:30px;
$grid-sm: 767;
$mobile: 767px;
$grids: 12;
$black:#000;
$brand-color:#4283FC;
$base-color:#0A0F2D;
$off-white: #141932;
$white:#ffffff;
$gray:#141932;
$gray-dark:#D9D9D9;
$red:#DC2E3D;
$text-color: #868DB0;
$green:#008F48;
$blue: #194F9F;
$light-blue: #E1F3FF;
$yellow: #F3C888;
$img-path: "../images" !default;
$border-gradient: linear-gradient(107deg, #009FFF 11.51%,  22.46%, #0096FF 23.25%, #006AFF 46.73%, #8D1EFF 89.77%);
