@media screen and (max-width: 991px) {
    .banner-content{
        max-width: 100%;
    }

    .blog-list{
        .container{
            .col-6{
                margin-bottom: 20px;
            }
        }
    }
    
}

.blog-list{
    .container{
        .col-6{
            margin-bottom: 30px;
        }
    }
}   